extends layout

block content
  h1 Varitas Mágicas // Harry Potter
  p Página de creación, edición y listado de varas mágicas, relacionadas con el mundo de Harry Potter
  div(class="links")
    a(href="/crear/" class="crear")
      span Crear
    br
    br
    a(href="/editar/" class="editar") 
      span Editar
    br
    br
    a(href="/uno/" class="uno")
      span Ver uno
    br
    br
    a(href="/todo/" class="todos")
      span Ver todos
    br
    br
    a(href="/borrar/" class="borrar") 
      span Borrar