extends layout

block content
  h2 Lista de todas las Varitas Mágicas creadas
  div(class="list")
    for rod in rods
        div(class="listo")
            p= "Nombre: " + rod.name
                ul(class="una")
                    li= rod.wood
                    li= rod.core
                    li= rod.long + " cm"
                    if(rod.flex == true)
                        li Flexible
                    else
                        li No es flexible
  a(href="/") Regresar
  